.logo{
    width: 100px;
}
.nab-main{
    background-color: #000;
    width: 100%!important;
    max-width: unset;
}
.me-auto{
    background-color: #000;
    color: #9c7b7b;
    width: 50%;
    font-size: x-large;
    font-weight: 700;
    margin: 50px auto;
    justify-content: space-evenly;

}